/* Header Styling */
header {
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: xx-large;
    background-color: #2f3640;
}

/* A Media Query max-width: 960px */
@media screen and (max-width: 960px) {
 
    /* Styles for the wrapper div */
        .container {
            width: auto;
            margin: 0 auto;
        }
}